{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DW_test</title>
    <script src="{% static 'app/webpack/bundle.js' %}" defer></script>
</head>

<body>
    <p>ai_analytics_logへclassを保存</p>
    <input type="text" class="targetInput" maxlength="255">
    <button type="submit" class="targetButton">処理開始</button>
    <p>結果</p>
    <p class="targetResult"></p>
</body>

</html>